name: CI
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml
    permissions:
      contents: read
      packages: read
      statuses: write

  test:
    name: Test
    uses: ./.github/workflows/test.yml
    permissions:
      contents: read

  check-dist:
    name: Check Artifacts
    uses: ./.github/workflows/check-dist.yml
    permissions:
      contents: write
